{% extends 'base.html.twig' %}

{% block title %}Livre index{% endblock %}


{% block body %}
    <style>


        #table{

            margin-left: auto;
            margin-right: auto;
            padding-left: 80px;
            padding-right: 80px;
            background-color:   transparent;
        }

        tr {
            border-radius: 3px;
            padding: 10px 15px ;
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;

        }
        .table-header {
            background-color: #95A5A6;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 0.03em;

        }
        .table-row {
            background-color: #ffffff;
            box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
        }

    </style>
<br>
    <h1>Livre index </h1>

    <table id="table"  class="table-row table">
        <thead>
        <tr class="table-header">
                <th>Id</th>
                <th>Titre</th>
                <th>NbPages</th>
                <th>DateEdition</th>
                <th>NbExemplaires</th>
                <th>Prix</th>
                <th>Isbn</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr class="table-row">
                <td>{{ livre.id }}</td>
                <td>{{ livre.titre }}</td>
                <td>{{ livre.nbPages }}</td>
                <td>{{ livre.dateEdition ? livre.dateEdition|date('Y-m-d') : '' }}</td>
                <td>{{ livre.nbExemplaires }}</td>
                <td>{{ livre.prix }}</td>
                <td>{{ livre.isbn }}</td>
                <td>
                    <a href="{{ path('livre_show', {'id': livre.id}) }}">show</a>
                    <a href="{{ path('livre_edit', {'id': livre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a  class="btn btn-lg " href="{{ path('livre_new') }}">Create new</a>

{% endblock %}
