<!DOCTYPE html>

<head>
    <style>
        #brod {
            border-radius: 10px 100px / 120px;
            position: absolute;
            bottom: 0px ;
            width:100%;
            background-color: #ffc8c7;
        color: #fdfffd;}
        * {
            -webkit-transition-property: all;
            -webkit-transition-duration: .2s;
            -moz-transition-timing-function: cubic-bezier(10,50,21,6);
            -moz-transition-property: all;
            -moz-transition-timing-function: cubic-bezier(100,50,21,6);
        }

        body{


            text-align:center;
            font-family: 'Oswald', sans-serif;
        }

        h1{
            color:#c0c0c0;
            font-weight:100;
        }

        .btn{

            padding-bottom: initial;
            color:#999;
            background:rgba(0, 0, 0, 0.5);
            padding:10px 20px;
            font-size:12px;
            text-decoration:none;
            letter-spacing:2px;
            text-transform:uppercase;
        }

        .btn:hover{
            border:none;
            background:rgba(0, 0, 0, 0.4);
            background:#fff;
            padding:10px 20px;
            color:#1b1b1b;
        }


        h1 {
            text-align: center;
            margin: 40px 0 40px;
            text-align: center;
            font-size: 30px;
            color: #ecf0f1;
            text-shadow: 2px 2px 4px #000000;
            font-family: 'Cherry Swash', cursive;
        }
        #bt{margin-left: 50%;}

#pos{margin-top:5%;}
        #sign {margin-left:60%;
       margin-top:200px;}


nav{position: fixed;
margin-left: 20%;}
#ser{margin-left: 60%;}
#text{margin-top: -25px;}
.container{margin-left: 50%;}

    </style>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>



        <link href="{{ asset('assets/css/theme.css') }}" type="text/css" rel="stylesheet" />



    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
        <script src="{{ asset('vendors/@popperjs/popper.min.js') }}"></script>
        <script src="{{ asset('vendors/bootstrap/bootstrap.min.js') }}"></script>
        <script src="{{ asset('vendors/is/is.min.js') }}"></script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
        <script src="{{ asset('vendors/fontawesome/all.min.js') }}"></script>
        <script src="{{ asset('assets/js/theme.js') }}"></script>

        <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&amp;family=Rubik:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
    {% endblock %}
</head>
<body  background=" {{  asset('/images/5.jpg') }}" >

<head>
    <title>Bibliothèque</title>
    {% block stylesheets %}

    {% endblock %}
</head>
<header>
    <div class="container">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <span class="text-uppercase">  User: {{ app.user.username }}</span>
                <a class="btn" stclass="btn btn-lg " type="submit" href="{{ path('logout') }}">logout</a>
                    {% else %}
                    {% endif %}
        </div>
    <div id="header">
        <div class="container">
            <div class="col-md-3 clearfix">
                    <div class="header-ctn" >
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                        {% endif %}

                    </div>
            </div>
        </div>
    </div>
</header>
<div class="section">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>
{% block js %}

{% endblock %}
<section id="brod" class=" py-2 d-none d-sm-block">
<div class="container">
    <div class="row align-items-center">
        <div class="col-auto d-none d-lg-block">
            <p class="my-2 fs--1"><i class="fas fa-map-marker-alt me-3"></i><span>Route de Mahdia Km 2.5 BP 88 A - 3099 Sfax </span></p>
        </div>
        <div class="col-auto">
            <p class="my-2 fs--1"><i class="fas fa-envelope me-3"></i><a class="text-900" href="rayenfarhat19@gmail.com">rayenfarat19@mail.com </a></p>
        </div>
    </div>
</div>
</section>
<div id="pos" >
    <nav>
        {% if  is_granted('ROLE_ADMIN') %}
            <a class="btn"  class="nav-link" aria-current="page" href="{{path('auteur_index')}}">Auteurs</a>
            <a class="btn"  aria-current="page"href="{{path('editeur_index')}}">Editeurs</a>
            <a class="btn" aria-current="page" href="{{path('categorie_index')}}">Catégories</a>
            <a class="btn" aria-current="page" href="{{path('livre_index')}}">Livres</a>
            <a class="btn" aria-current="page" href="{{path('personne_index')}}">Personne</a>
        {% endif %}

        {%  if not is_granted ('ROLE_ADMIN')%}
        <DIV STYLE="margin-top: -50px;">

            <a class="btn"   class="nav-link" aria-current="page" href="{{path('home_page')}}">Accueil</a>
            {% for categorie in app.session.get('categories') %}
                <a class="btn" aria-current="page" href="{{ path('LivreCategorie',{'categorie':categorie.id}) }}"> {{ categorie.designation }}</a>
            {% endfor %}

        </DIV>
        {% endif %}


    </nav>
</div>
{% block body %}
{% endblock %}
</body>
</html>
